@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@layer components {
  .center-page {
    @apply max-w-screen-xl mx-auto px-4;
  }
  .section-padding {
    @apply pt-[100px] md:pt-[110px];
  }
}

@theme{
  --color-primary:  #111111;
  --color-secodary: #F9F9F9;
  --color-accent:  #C2A878;
  --color-accent-hover: #A68B5B;
  --color-text-description: #6B7280;
  --color-border-color: #e5e7eb;
}


/* a[aria-current="page"] {
  color: #A68B5B; 
  font-weight: 600;
}

a[aria-current="page"]::after {
  width: 100%;
} */