@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@layer components {
  .center-page {
    @apply max-w-screen-xl mx-auto px-4;
  }
  .section-padding {
    @apply md:pt-[100px] pt-[90px];
  }
}

@theme{
  --color-primary:  #111111;
  --color-secodary: #F9F9F9;
  --color-accent:  #C2A878;
  --color-accent-hover: #A68B5B;
  --color-text-description: #6B7280;
  --color-border-color: #e5e7eb;
}

/* @layer utilities {

    .is-favorite svg {
      fill: #ef4444 !important; 
      stroke: #ef4444 !important;
    }
    .is-favorite {
      @apply text-red-500;
    }
} */

/* a[aria-current="page"] {
  color: #A68B5B; 
  font-weight: 600;
}

a[aria-current="page"]::after {
  width: 100%;
} */